.navbuttons{

    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 15px, 0, 0, 0);
    
    
}
.navbuttons{
-fx-background-color: #ffffff;
}
.navbuttons:hover{
    -fx-cursor: hand;
    -fx-background-color: #bad5e9;
    
}

.hovering_text{
    -fx-cursor: hand;
}

.burgirbutton:hover{
    -fx-cursor:hand;
}