.tillkassan{
-fx-background-color: #09cdda;
-fx-background-radius: 20px;
}

.tillkassan:hover{
-fx-background-color: #09929c;
}

.background{
-fx-background-color: #f5f5f5;
}

.titledsections{
-fx-border-color: black;
-fx-border-radius: 20px;
-fx-border-width:2px;

}