.tillkassan{
-fx-background-color: #FCAB10;
-fx-background-radius: 20px;
}

.tillkassan:hover{
-fx-background-color: #c1820d;
-fx-cursor: hand;
}

.background{
-fx-background-color: #f5f5f5;
}

.titledsections{
-fx-border-color: black;
-fx-border-radius: 20px;
-fx-border-width:2px;

}
.switcharrows:hover{
    -fx-border-color: black;
    -fx-border-radius: 20px;
    -fx-border-width:2px;
}