.buttons{
-fx-background-color: #2B9EB3;
-fx-background-radius: 40px;
}

.button_payment_method{
    -fx-background-color: #f5f5f5;
    -fx-background-radius: 40px;
}

.button_payment_method:hover{
    -fx-background-color: #9a9a9a;
    -fx-cursor: hand;
}

/* .button_login{
    -fx-background-color: #2B9EB3;
} */
.buttons:hover{
    -fx-background-color: #1B7181;
    -fx-cursor: hand;
}

.rec_purchase_history{
    -fx-border-color: #000000;
}

.hover_image{
    -fx-cursor: hand;
}