#vara_kort_rec{
    -fx-background-color: #2B9EB3;
    -fx-background-radius: 20px;
}

.plus_minus_buttons_and_text_rec{
    -fx-background-color: #ffffff;
}

.circle_test{
    -fx-background-radius: 60px;
    -fx-background-color: #FCAB10;
}

.circle_test:hover{
    -fx-background-color: #E9A016;
    -fx-cursor: hand;
}

.rec_in_circle_test{
    -fx-background-color: #000000;
    -fx-background-radius: 5px;
}
